.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 16px; /* space between items */
}


/* gallery card */
.gallearycard {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.gallerytext{
  position: absolute;
  /* border: 1px solid gray; */
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.697);
  width: 100%;
  height: 200px;
  animation-name: card-up;
  transform: translateY(-0px);
  transition: 0.3s;
} 
.gallearycard:hover .gallerytext{
  transform: translateY(-80px);
}



