.Navbar{
    position: sticky;
    top: 0;
    z-index: 5;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 500;
    color: lightgrey !important;
}
.navbar a:hover{
    color: red !important;
}
.nav-item{
    padding: 0px 7px ;
}
