.serviceitem{
    border: 1px solid gray;
    margin: 10px;
}
.serviceitem .icon{
    font-size: 60px;
    margin: 15px;
    padding-left: 0;
    
}
.servicesContent{
    padding: 20px 0px;
}
.servicesContent h5 a{
    text-decoration: none;
    color: #5c5e65;
}
.icon img{
    filter: hue-rotate(355deg);
}